body {
    background-color: rgb(91, 36, 36);
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: #994939;
    width: 80%;
    height: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.lefiside, .rightside {
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sesions {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
}

.letrasCorrContr {
    color: white;
    font-weight: bolder;
}

input {
    height: 10%;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons {
    width: 91%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
}

button {
    width: 30%;
    height: 65%;
    border: 0px;
    border-radius: 20px;
}

.cancelar {
    color: rgb(109, 109, 233);
    background-color: white;
    font-weight: bold;
}

.cancelar:hover {
    background-color: rgb(241, 241, 241);
}

.crearCuenta {
    background-color: rgb(91, 36, 36);
    color: white;
    font-weight: bold;
}

.crearCuenta:hover {
    background-color: rgb(143, 63, 63);
}

.menuayuda {
    width: 80%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

.menuayuda button {
    width: 8%;
}

.menuayuda button:hover {
    background-color: rgb(225, 225, 225);
}
