body {
    background-color: rgb(153, 142, 86);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
}

nav {
    background-color: #333;
    padding: 10px;
    position: fixed; /* Fijar el nav en la parte superior */
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegurar que esté por encima del contenido */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
    padding: 10px;
    color: white;
}

.content {
    text-align: center; /* Alinear contenido centralmente */
}

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px; /* Aumentar el margen para separarlo más del borde de la ventana */
    padding: 80px; /* Aumentar el padding para hacer el cuadro más grande */
    background-color: rgb(216, 130, 65, 0.4);
    border-radius: 10px;
    max-width: 600px; /* Limitar el ancho máximo del cuadro */
    text-align: center; /* Alinear texto al centro */
}

.user-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px; /* Espacio debajo de la imagen */
    border: 5px solid white; /* Borde blanco */
}

.user-info {
    max-width: 400px;
    text-align: center; /* Alinear texto al centro */
}

.btn {
    background-color: rgb(104, 56, 56); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Padding del botón */
    margin: 5px; /* Espacio entre botones */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    font-size: 16px; /* Tamaño de fuente */
}

.btn:hover {
    background-color: #555; /* Color de fondo del botón al pasar el mouse */
}
